.RequestAPIItems {
    display: grid;
    grid-area: rai;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    color: #edf2f6;
    grid-template-areas:
    "I"
    "b";
}

.Input {
    grid-area: I;
    background-color: #3f4257;
    text-align: center;
}

.button {
    grid-area: b;
    background-color: #3f4257;
    text-align: center;

}
