.comingDays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 3fr 1fr;
    color: #edf2f6;
    background-color: #3f4257;
    grid-template-areas:
    "c5d c5d c5d c5d c5d c5d c5d c5d"
    "ho htw ht hf hfi hs hse he"
    "nxth nxth nxth nxth nxth nxth nxth nxth";
}

.coming5DaysItems {
    grid-area: c5d;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    line-height: 60px;
    border: 2px solid rgba(0,0,0,0.3);

}


.hourOne{
    grid-area: ho;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 5%;
}

.hourTwo{
    grid-area: htw;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 5%;
}

.hourThree{
    grid-area: ht;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 5%;
}

.hourFour{
    grid-area: hf;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 5%;
}

.hourFive{
    grid-area: hfi;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 5%;
}

.hourSix{
    grid-area: hs;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 5%;
}

.hourSeven{
    grid-area: hse;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 5%;
}

.hourEight{
    grid-area: he;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 5%;
}


.nextDays{
    grid-area: nxth;
    background-color: #3f4257;
    text-align: center;
    display: grid;
    opacity: .4;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "li1 li2 li3 li4 li5";
    border: 2px solid rgba(0,0,0,0.3);
    padding-top: 1%;

}

.listItem1{
    grid-area: li1;
    text-align: center;
}

.listItem2{
    grid-area: li2;
    text-align: center;
}

.listItem3{
    grid-area: li3;
    text-align: center;
}

.listItem4{
    grid-area: li4;
    text-align: center;
}

.listItem5{
    grid-area: li5;
    text-align: center;
}

.aItem1{
    color: #edf2f6;
}
.aItem2{
    color: #edf2f6;
}
.aItem3{
    color: #edf2f6;
}
.aItem4{
    color: #edf2f6;
}
.aItem5{
    color: #edf2f6;
}