.comingDays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    color: #edf2f6;
    background-color: #3f4257;
    grid-template-areas:
    "c5d c5d c5d"
    "do dtw dt"
    "nxth nxth nxth";
}

.coming5DaysItems {
    grid-area: c5d;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    line-height: 60px;
    border: 2px solid black;

}


.dayOne{
    grid-area: do;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid black;
    padding-top: 5%;
}

.dayTwo{
    grid-area: dtw;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid black;
    padding-top: 5%;
}

.dayThree{
    grid-area: dt;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid black;
    padding-top: 5%;
}

.nextHours{
    grid-area: nxth;
    background-color: #3f4257;
    color: #edf2f6;
    text-align: center;
    border: 2px solid black;
    padding-top: 1%;
}
