.weatherOfChelyabinskItems {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: #edf2f6;
    grid-template-areas:
    "wi";
}

.weatherItems {
    grid-area: wi;
    border: 2px solid rgba(0,0,0,0.3);
}




