.weatherChelyabinskContainer {
    display: grid;
    grid-template-rows: 1fr;
    color: #edf2f6;
    background-color: #3f4257;
    border: 2px solid black;
    grid-area: wochc;
    grid-template-areas:
    "wch"
     "w5d";
}

.weatherChelyabinsk {
    grid-area: wch;
}

.Weather5Day {
    grid-area: w5d;
}