.header {
  display: grid;
  grid-template-columns: 3fr   ;
  grid-area: h;
  background-color: #3f4257;
  color: #edf2f6;
  grid-template-areas:
  "cn";
 height: 75px;

}

.cityName {
  grid-area: cn;
  text-align: center;
  line-height: 75px;
  background-color: #3f4257;
  border: 2px solid black;

}


