.weatherItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    color: #edf2f6;
    background-color: #3f4257;
    grid-template-areas:
    "mmt mt dw"
    "rf cr ws";

}

.maxMinTemperature {
    grid-area: mmt;
    background-color: #3f4257;
    border: 2px solid rgba(0,0,0,0.3);
    text-align: center;

}



.mainTemperature {
    grid-area: mt;
    background-color: #3f4257;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);

}

.dayOfWeek {
    grid-area: dw;
    background-color: #3f4257;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.3);
}

.realFeel {
    grid-area: rf;
    background-color: #3f4257;
    border: 2px solid rgba(0,0,0,0.3);
    text-align: center;
}

.chanceOfRain {
    grid-area: cr;
    background-color: #3f4257;
    border: 2px solid rgba(0,0,0,0.3);
    text-align: center;
}

.windSpeed {
    grid-area: ws;
    background-color: #3f4257;
    border: 2px solid rgba(0,0,0,0.3);
    text-align: center;
}
