.weatherItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    justify-items: center;
    grid-gap: 5px;
    color: #edf2f6;
    margin-top: 5px;
    background-color: #3f4257;
    grid-template-areas:
    "mmt mt dw"
    "rf cr ws";

}

.maxMinTemperature {
    grid-area: mmt;
    background-color: #3f4257;
    width: 400px;
}



.mainTemperature {
    grid-area: mt;
    background-color: #3f4257;
    height: 200px;
    width: 500px;
}

.dayOfWeek {
    grid-area: dw;
    background-color: #3f4257;
}

.realFeel {
    grid-area: rf;
    background-color: #3f4257;
    width: 100px;
    height: 80px;
}

.chanceOfRain {
    grid-area: cr;
    background-color: #3f4257;
    width: 100px;
    height: 80px;
}

.windSpeed {
    grid-area: ws;
    background-color: #3f4257;
    width: 100px;
    height: 80px;
}
