
.App-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 10fr;
  background-color: #3f4257;
  max-height: 1000px;
  grid-template-areas:
  "h"
  "rai"
  "w"
  "f";
}

.weather {
  grid-area: w;
  background-color: #3f4257;
  border: 2px solid rgba(0,0,0,0.3);
}




